%footer
  %p ©2016 EazyOne All rights reserved.
  %ul
    %li= link_to("Terms of Service", "/pages/terms")
    %li= link_to("Privacy Policy", "/pages/privacy")
    %li= link_to("Pricing", "/pricing")
    %li= link_to("Documentation", "https://docs.eazybi.com/display/EAZYBI", target: "_blank")
    %li= link_to("Contact Us", "/contact")
